body, html {
    height: 100%;
}

.parallax {
    /* The image used */
    background-image: url('./wallpaper.jpg');

    /* Full height */
    height: 70%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding:20% 30%
}

.parallax h1{
    font-size: 50px;
    color: black;
    background-color: yellow;
    font-weight: 300;
}

.bg-footer{
    background-color: black;
    color: white;
    padding: 35px
}

.margin-cero{
    margin: 0;
    padding: 10px 0
}

.big-nav-li{
    font-size: 30px;
    font-weight: 300;
}

#myNavbar a:hover {
    color: yellow
}

@media all and(max-width: 600px){
	h1{
        font-size: 10px
}
}
