header, #info-one {
  padding-top: 80px;
}

footer {
  background: url(../img/wallpaper.jpg) no-repeat;
  background-size: cover;
}

#testimonial {
  text-align: center;
  padding: 50px 0 30px 0;
  background-color: #f1f1f1;
  margin-top: 60px;
}

.autor {
  font-weight: bold;
  font-style: italic
}